:root {
    /* --font-primary: 'Overpass Mono Variable', monospace; */
    --font-primary: "Libre Baskerville", serif;
    /* --font-secondary: 'Cormorant Garamond', serif; */
    /* --font-secondary: 'Times New Roman', serif; */
    /* --font-primary: "Times New Roman", serif; */
     background-color: #ffe9fb;
    --text-color-primary: #384700;
}

html, body {
    height: 100vh;
    padding: 0;
    margin: 0;
}